pre,
code {
    ...
    background-color: #FFFFFF;
}
.site-header {
    height: 60px;
    max-height: 60px;
    border-bottom: 1px solid #000000;
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-right: 1px solid #000000;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #000000;
}

.tip {
	border: 1px solid #4A7729;
	background-color: #FFF;
  border-radius: 10px; /* 5px rounded corners */
  padding: 15px;
	margin: 5px;
}

.warning {
	border: 2px solid #BE3A34;
	background-color: #FFF;
  border-radius: 10px; /* 5px rounded corners */
  padding: 15px;
	margin: 5px;
}
