$body-text-color: $grey-dk-001 !default;
$grey-dk-001: #fff !default;

$link-color: #a98700 !default;
$btn-primary-color: #a98700 !default;
$base-button-color: #a98700 !default;
$nav-child-link-color: #454545;
$font-size-8: 29px !default; //h1
h1 {
   font-family: "Helvetica";
   font-weight:800;
   font-size:29 px;
   line-height: 1.2em;
   letter-spacing: 1px;
}
